<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      --><!--<target name="logfile" type="File" layout="${longdate}|${processid}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" fileName="${specialfolder:folder=LocalApplicationData}/Titli/${assembly-version}/logs/logfile.txt" archiveFileName="${specialfolder:folder=LocalApplicationData}/Titli/${assembly-version}/archives/log.{#####}.txt" archiveAboveSize="1024000" archiveNumbering="Sequence" keepFileOpen="false"/>--><!--
      <target name="logfile" xsi:type="File"
				fileName="C:\logs\app-log.txt"
				archiveFileName="C:\logs\archives\app-log.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile"/>
    </rules>
  </nlog>-->
</configuration>